[Unit]
Description=VPN Xray VLESS Reality node
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=vpn-xray
Image=ghcr.io/xtls/xray-core@sha256:4198aa816f04eeacde6470f4f07947eb4f701a1bba3657e366636681eaae5855
Network=host
AddCapability=NET_BIND_SERVICE
Volume=/etc/vpn-node/xray-config.json:/usr/local/etc/xray/config.json:ro,Z
Exec=run -config /usr/local/etc/xray/config.json

[Service]
Restart=always
RestartSec=5
MemoryMax=256M

[Install]
WantedBy=multi-user.target
